html {
  color: $brown-light;
  font: 400 16px 'Sarala', sans-serif;
}

.title, .text {
  font-size: 1.5rem;
}

.title {
  font-weight: bold;
}

.title--balle {
  font-family: 'Righteous', cursive;
  font-size: 4rem;
}

